* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family:  'Poppins', sans-serif;
}
main{
    height: 100vh;
    width: 100vw;
}
header{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    font-size: 4em;
    font-weight: 600;
    letter-spacing: 3px;
    margin-bottom: 10px;
}
.line{
    height: 5px;
    width: 10%;
    background-color: lightskyblue;
    margin: auto;
    margin-bottom: 70px;
}
.review{
    width: 570px;
    height: 410px;
    margin: auto;
    box-shadow: 5px 10px #d0cbcb;
    border-style: solid;
    border-color: #d0cbcb;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    place-items: center;
    padding-left: 30px;
    padding-right: 30px;
}
.shadow-image{
    width: 150px;
    height:150px;
    background-color: blue;
    border-radius: 50%;
    z-index: 1;
    margin-left: 17px;
    position: absolute;
}
.image {
    width: 150px;
    height: 155px;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
}
.image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.smol{
    margin-top: 10px;
    margin-right: 100px;
    width:8%;
    height: 11%;
    font-size: 6em;
    font-weight: 600;
    background-color: blue;
    border-radius: 50%;
    z-index: 3;
    position:absolute;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    color: white;
}
.profile{
    margin-top: 15px;
    height: 150px;
    background-color: red;
    display: flex;
    justify-content: center;
}
.name{
    width: fit-content;
    height: fit-content;
    font-size: 1.5em;
    font-weight: 600;
    margin-top: 15px;
    letter-spacing: 4px;
}
.job {
    width: fit-content;
    height: fit-content;
    font-size: 1.2em;
    color: blue;
    margin-top: 5px;
}
.describtion {
    margin-top: 10px;
    width: fit-content;
    height: fit-content;
    font-size: 1.7em;
    line-height: 1.4 ;
}
