* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family:  'Poppins', sans-serif;
}
main{
    height: 100vh;
    width: 100vw;
}
header{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    font-size: 4em;
    font-weight: 600;
    letter-spacing: 3px;
    margin-bottom: 10px;
}
.line{
    height: 5px;
    width: 10%;
    background-color: lightskyblue;
    margin: auto;
    margin-bottom: 70px;
}
.review{
    width: 570px;
    height: 410px;
    margin: auto;
    box-shadow: 5px 10px #d0cbcb;
    border-style: solid;
    border-color: #d0cbcb;
    border-radius: 5px;
}
